.content
  .post
    %h2 
      New Post

.sidebar
  = semantic_form_for @post do |f|
    %p
      %h3 Title
      = f.text_field :title
    %p
      %h3 Content
      = f.text_field :content
    %p
      %h3 Author
      = f.text_field :author
    %p
      = f.submit 'Create'
